.columns-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 0px 5px;
  background: linear-gradient(0deg, rgba(209, 222, 234, 1) 0%, rgba(209, 222, 234, 1) 70%, rgba(237, 242, 247, 1) 90%);
}

body, html, #root, .columns-container {
  height: 100%;
}

.column-container {
  background-color: #EDF2F7;
  height: 90vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}


.card {
  width: 100%;
  margin: 10px 0;
  border-radius: 5px;
  padding: 10px;
  min-height: 60px;
  background-color: white;
  box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.05);
  word-break: break-all;
  overflow: hidden
}
